.fixed_nav_container{
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   z-index: 100;
}

.nav_row{
   position: relative;
   box-shadow: 0px 2px 8px #575757;
   min-height: 50px;
}

.mobile_logo{
   position: absolute;
   display: flex;
   justify-content: center;
   top: 0%;
   left: 0%;
   background-color: #ff006f;
   border: 1px solid red;
   height: 100%;
   width: 100px;
   text-align: center;
}

@media(min-width:500px){
   .mobile_logo{
      display: none;
   }
}

.mobile_logo > a{
   display: flex;
   align-items: center;
   color: white;
   font-weight: bold;
}