html{
    scroll-behavior: smooth;
}

*{
    --dark_blue:#343a40;
    --pink:#ff006f;
    --pink_green:#27e6cf;

    --pink_bg_shadow_dark:0px 1px 8px #343a40;
    --pink_bg_shadow_light: 0px 2px 8px #fefefe;
    /* border: 1px solid red; */

    --title_font_size_lg:60px;
    --title_font_size_md:40px;
    --title_font_size_sm:25px;

}

.app{
    overflow: hidden;
}

.justify_content_center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.justify_content_right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.justify_content_vertical{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_title{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 600;
    color: var(--dark_blue);
}