/*skill container*/
.skills_content_container {
	position: absolute;
	width: 0px;
	height: 0px;
	padding: 0;
	margin: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow-y: scroll;
	background: #040714;
	animation: skills_content_container_animation 1s ease-in-out 3s forwards;
}

@keyframes skills_content_container_animation {
	from {
		width: 0px;
		height: 0px;
		justify-content: space-around;
	}

	to {
		width: 70vw;
		height: 60vh;
		padding: 30px;
		justify-content: start;
	}
}

.skills_content_inner_container {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	opacity: 0;
	animation: skills_content_inner_container_animation 1.2s ease-in-out forwards 4s;
}

@keyframes skills_content_inner_container_animation {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/*skill card*/
.skill_card {
	position: relative;
	flex-basis: 30%; /*this can be seen as width*/
	min-height: 200px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px !important;
	padding: 20px;
	background: #060c21;
}

.skill_card::before {
	content: "";
	position: absolute;
	z-index: -100;
	top: -2px;
	right: -2px;
	bottom: -2px;
	left: -2px;
}

.skill_card::after {
	content: "";
	position: absolute;
	z-index: -100;
	top: -2px;
	right: -2px;
	bottom: -2px;
	left: -2px;
	filter: blur(10px);
}

.skill_card_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	display: block;
	background-color: rgba(255, 255, 255, .1);
	pointer-events: none;
}

.skill_card:hover {
	cursor: pointer;
}

.skill_card:hover:before,
.skill_card:hover:after {
	background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
}

@media (max-width: 1000px) {
	.skill_card {
		flex-basis: 45%;
	}
}

@media (max-width: 656px) {
	.skill_card {
		flex-basis: 95%;
		margin-right: auto;
		margin-left: auto;
	}
}

/*skill content*/
.skills_icon {
	width: 100%;
	font-size: 50px;
	color: white;
	text-align: center;
}

.skill_card_title,
.skill_experience_year {
	width: 100%;
	text-align: center;
	color: white;
	font-size: 20px;
}

.skill_card_title {
	margin-top: 20px;
	margin-bottom: 0;
}

.skill_experience_year {
	font-weight: 500;
}
