.all_skills_main_container {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	z-index: var(--z_index_ex);
}

.all_skills_bg {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: black;
	opacity: .9;
}

.all_skills_title {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	font-size: var(--title_font_size_lg);
	font-weight: bold;
	color: rgba(0, 0, 0, 1);
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.all_skills_skills_container {
	position: fixed;
	/* width: 80vw;*/
	height: 100vh;
	right: 0;
	top: 0;
	background: #000;
}
