.social_share_main_container {
	position: relative;
	width: 100%;
	padding-top: var(--pt_sm);
	padding-bottom: var(--pb_sm);
	margin-bottom: var(--mb_md);
	text-align: center;
	/* background-image: url('../../Assets/image/social_share_row_bg.jpg'); */
	background-size: contain;
	background-attachment: fixed;
}

.social_share_content_container {
	position: relative;
	z-index: 5;
}

.social_share_container_color_overlay {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .8;
}

.social_share_title {
	font-size: var(--title_font_size_sm);
	font-weight: bold;
	color: var(--dark_blue);
}

.social_share_icon {
	width: 50px;
	margin-right: 10px;
	margin-top: 10px;
	border-radius: 50%;
	transition: .3s ease-in-out;
}

.social_share_icon::last-child {
	margin-right: 0;
}

.social_share_icon:hover {
	box-shadow: var(--pink_bg_shadow_dark);
	transform: scale(1.1);
}

.github_link {
	width: 200px;
	height: 50px;
	display: inline-block;
	/* display: flex;
	flex-direction: row;
	align-items: center; */
	align-content: flex-end;
	margin-left: auto;
	margin-right: auto;
	margin-top: var(--mt_sm);
	padding-left: var(--pl_sm);
	padding-right: var(--pr_sm);
	color: var(--dark_blue);
	text-decoration: none;
	border-radius: 12px;
	background: var(--dark_blue);
	background-image: url('../../Assets/image/social_icon/github.png');
	background-size: 50px 50px;
	background-repeat: no-repeat;
	background-position: center;
	transition: .4s ease-in-out;
}

.github_link:hover {
	cursor: pointer;
	color: var(--white);
	font-weight: bold;
	text-decoration: none;
	border-radius: 30px;
	line-height: 50px;
	background-position-x: 0;
}
