.skills_content_main_container{
    position: relative;
    width: 100%;
    padding: 20px 30px;
}

.skills_text_container{
    position: relative;
    margin-bottom: 30px;
}
/*****************************/

/*****************************/

/*****************************/
